<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.kinchaku.openclient-llm</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openclient</string>
			</array>
		</dict>
	</array>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>OpenClient uses the microphone to record audio for transcription by the AI model.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>OpenClient uses speech recognition to transcribe your voice locally on device.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Thin.ttf</string>
	</array>
</dict>
</plist>
